<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="airjaw.butterflyandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@drawable/butterfly_heart_android"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- android:theme="@style/AppTheme" -->
        <activity
            android:name=".HomeActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".MeetActivity" />
        <activity android:name=".InboxActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".Camera.CamActivity" />
        <activity android:name=".Camera.CamSendMeetActivity" />
        <activity android:name=".WebViewActivity" />
        <activity
            android:name=".SettingsContactUsActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ChatRoomActivity" />
        <activity android:name=".ReportActivity"></activity>
    </application>

</manifest>